<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/unit/_bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="eXeCUT Yii2 Import Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="tests/_log/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./components/</directory>
        </whitelist>
    </filter>
</phpunit>
